/*
Colors - #D9C9BA
Colors - #A6641
Colors - #D9AA8F
Colors - #F2F1F0
Colors - #8C4A32

*/ 

body {
    background-color: #ebe9eb
}

html {
    box-sizing: border-box;
  }
  *:before
  *:after {
    box-sizing: inherit;
  }

  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .container {
    width: 95wv;
    max-width: 1120px;
    margin: 80px auto;
  }

  .container {
    background-color: #797b84;
    color: #FFF;
    
  }

  header.primary {
    font-size:large
  }

header.primary h1 {
border-radius: 0cap;
text-align: center;
box-shadow: #02182b;
margin-top: 60px;
background-color: #02182b;
color:#FFF;
text-decoration:none;
padding-left: 15px;
}

header.primary h1 a {
  padding-top: 20px;
  padding-bottom: 20px;
    color:#FFF
}

header.primary h1 a {
  text-decoration: none;
}
.container {
text-align: center;
}

header.primary nav ul {
  padding: 20px;
  border-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}

header.primary h2 {
  align-items: center;
}

header.primary nav ul li a {
  color: #FFF;
  background-color: cadetblue;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  align-content: center;
}