header nav ul a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*fix this later */
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#07B0F2,#07C7F2);
    padding: 20px;
    list-style-type: none;
    max-width: 1400px;
    border-radius: 15px;
    font-size: 1.8rem;   
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

   
}

header.primary nav ul li a:hover {
    background: rgba(0.8, 0, 0, 0.8); 
}

/*color pallete colors (old)
#9E82D9 lightest purple
#181240 darkest purple shade
#5545BF neon purple
#41358C medium purple shade
#B3C3F2 light blue
#DED0F2 potential text color
#D2BBF2 Light purple
#8E6BBF Purple shade
#1A5173 Dark Blue
*/

/*New color pallete colors
#062A40 Dark blue
#011126 Dark Blue 2
#0E4C73 Navy blue
#0F5FA6 Medium Blue
#07B0F2 Neon 1
#07C7F2 Neon 2
#2AA4BF Blue
#49E1F2 Aqua
#4BF2F2 Turquoise 
*/


header.primary nav ul a { 
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #011126
}

.tagline {
    display: flex;
    justify-content: center;
    background-color: #04a0dd;
    color: white;
    padding: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
}


section.container h3 {
    background-color: #07B0F2;
    color: white;
    text-size-adjust: 36px;
    padding: 22px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

}

.container {
    width: 140wv;
    max-width: 1200px;
    margin: 80px auto;
  }



.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1190px;
    margin: 1em;
   background-color: #062A40;
   padding-left: 6px;
   padding: 22px;
   color: white;
   border-radius: 6px;

}

.question {
    background-color: #07B0F2;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    color: white;
    border-radius: 6px;
    padding: 22px;
    font-size: 1.2rem;
}

.pic {
    display: flex;
    justify-content: center;
    padding: 14px;
}

.second {
    background-color:#07B0F2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
}

.caption {
    background-color:#49E1F2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
}

.list {
    background-color: #062A40;
    color: white;
    max-width: 1190px;
    margin: 1em;
    padding: 22px;
    display: flex;
    justify-content: center;
    padding-left: 25px;
    border-radius: 6px;
    align-content: center;
}

.images {
    background-color: #062A40;
   padding: 22px;
   color: white;
   border-radius: 6px;
   display: flex;
   justify-content: center;
}

.images a {
    color: white;
}

#footer {
    background-color: #037baa;
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px;
    max-width: 1400px;
}

.back-to-top {
    display: flex;
    justify-content: flex-end;
}

.back-to-top a {
    color: white;
    text-decoration: none;
}

#wufoo-z14bac0e1wczhce {
    display: flex;
    justify-content: center;
    padding: 80px;
}