header nav ul a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*fix this later */
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#41358C, #181240);
    padding: 20px;
    list-style-type: none;
    max-width: 1400px;
    border-radius: 15px;
    font-size: 1.5rem;
    
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

   
}

header.primary nav ul li a:hover {
    background: rgba(0.8, 0, 0, 0.8); 
}

/*color pallete colors
#9E82D9 lightest purple
#181240 darkest purple shade
#5545BF neon purple
#41358C medium purple shade
#B3C3F2 light blue
#DED0F2 potential text color
#D2BBF2 Light purple
#8E6BBF Purple shade
#1A5173 Dark Blue
*/


header.primary nav ul a { 
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EDE9F2
}

#tagline {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#181240, #41358C);
    color: white;
    padding: 15px;
}

#logo {
    display: flex;
    justify-content: center;
}


section.container h3 {
    background-color: #41358C;
    background-image: linear-gradient(#5545BF, #41358C);
    color: white;
    text-size-adjust: 36px;
    padding: 22px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

}

.container {
    width: 140wv;
    max-width: 1200px;
    margin: 80px auto;
  }



#first {
   background-color: #8E6BBF;
   padding: 22px;
   color: white;
   border-radius: 6px;

}

#question {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 2px;
}

#pic {
    display: flex;
    justify-content: center;
}

#second {
    background-image: linear-gradient(#1A5173,#2D83A6);
    color: white;
    display: flex;
    justify-content: center;
    padding: 22px;
}

#list {
    background-color:#0378A6;
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 22px;
    display: flex;
    justify-content: center;
    padding-left: 25px;
    border-radius: 6px;
    align-content: center;
}

#images {
    background-color: #8E6BBF;
   padding: 22px;
   color: white;
   border-radius: 6px;
   display: flex;
   justify-content: center;
}

#footer {
    background-color: #181240;
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px;
    max-width: 1400px;
}